body{
background-color: #48C9B0
}
h1{
color:white;
text-align: center;
}
p{
font-family: Verdana, Geneva, sans-serif;
font-size: 18 px;
color: gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a {
  display: black;
  color: white;
  text-align: center;
  padding: 14 px 16 px;
  text-decoration: none;
}
/* Change the link to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
p{
  
